.first_line
{
    background-color: black;
    width:auto;
    height: 250px;
}

.second_line
{
    background-color: red;
    width:auto;
    height: 250px;
}

.third_line
{
    background-color: yellow;
    width:auto;
    height: 250px;
}