.second_lines
{
    background-color: red;
    width:auto;
    height: 400px;
    margin-left: 20rem;
}

.third_lines
{
    background-color: green;
    width:auto;
    height: 400px;
    margin-left: 20rem;
}